.signup-form-header {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: fit-content; */
}

.signup-google-btn {
  border: transparent;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 25px;
  background-color: rgb(225, 242, 255);
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.7s;
}

.signup-google-btn-text {
  font-size: medium;
}

.signup-google-btn:hover {
  background-color: white;
  transition-duration: 0.7s;
}

.signup-form-heading {
  font-weight: 500;
  margin-top: 0px;
}

.signup-google-btn-icon {
  height: 22px;
  width: 22px;
}

.signup-form-sub-heading {
  font-weight: 400;
}

@media screen and (max-width: 465px) {
  .signup-form-heading {
    font-size: 25px;
  }
}

@media screen and (max-width: 365px) {
  .signup-form-heading {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  .signup-google-btn-text {
    font-size: small;
  }
}
