.signup {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #b9def1 0%, #fcf5d9 100%);
}

.signup-btn-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
}

.form-action-btn {
  padding: 10px 16px;
  /* background-color: #f6f6c6; */
  background-color: white;

  /* border: 1px solid black; */
  border: transparent;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.7s;
  color: black;
}

.form-action-btn:hover {
  background-color: aliceblue;
  transition-duration: 0.7s;
  border: transparent;
}

.signup-para {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

.login-btn {
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  cursor: pointer;
}
